

TEXTO  DE COMANDO NO CSS 


body{

}
	

#banner {	
	width: 100%;
	}

.principal{
	background: #CCCCCC;
	padding:30px;
}

.titulo-principal{
	padding-left:20px; 
}




.titulo-centralizado { 

	text-align: center
}

p{
	text-align:center;

}	

#missao{ 
	font size: 20Px
}

em strong {

	color: #DC143C;
}
.itens {
	font-style :italic 
}

.beneficios {
	background: #FFFFFFFF,
	padding:20px;
}



ul {
	display: inline-block;
	vertical-align: top;
	width: 20%  :;
	margin-right:15% ;
}
.imagembeneficios{
	width: 50%;
}